html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after{
  box-sizing: inherit;
}

body
{
  min-height: 100vh;
}

.navbar-dark .navbar-nav .nav-link--green
{
  color: green;
}

.navbar
{
  background-color: #172028
}
.navbar-brand
{
  display: flex;
  align-items: center;
  font-size: 25px;
}
.imgLogo
{
  width: 20%;
}
#portada
{
  height: 70vh;
  overflow:hidden;
  display: flex;
  align-content: center;
  justify-content: center;
}
.card
{
  border-radius: 0;
}
.card-img-overlay
{
  background-color: rgba(0, 0, 0, 0.274);
}
.card-img-overlay.row
{
  --bs-gutter-x: 0  
}
.col-4 .card-title,.col-4 .card-text
{
  text-align: right;
}
.btn-success-light
{
  margin-left: 10px;
  background-color: #3fb73f;
}
.btn-success-light:hover
{
  background-color: #467e46;
}
.floatRight
{
  float: right;
}
#contenedorOradores
{
  margin: 0 auto;
  margin-bottom: 20px;
}
p.lead, h2 
{
  text-align: center;
  margin: 0;
}

.tarjeta
{
  background-color: #122433;
  display: flex;
  padding: 0;
  height: 500px;
  width: 100%;
}
.imgContainer
{
  width: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tarjetaImg
{
  height: inherit;
  object-fit: cover;
  object-position: 50% 50%;;
}
.textContainer
{
  width: 50%;
  padding: 20px;
}
.textContainer h2
{
  text-align: left;
}

#inputCharla
{
  width: 100%;
  height: 100px;
}
#btnForm{
  width: 100%;
  background-color: #3d923d;
  border-color: #3d923d;
}
#btnForm:hover{
  width: 100%;
  color: lightslategray;
  background-color: #355c35;
  border-color: #355c35;
}
#textAreaInfo{
  color: gray;  
  margin: 0;
}
#formText{
  text-align: center;
  margin-bottom: 0;
  font-size: 20px;
}
footer{
  margin-top: 20px;
  width: 100%;
  background: rgb(55,55,59);
  background: linear-gradient(90deg, rgba(55,55,59,1) 2%, rgba(9,9,121,1) 58%, rgba(134,172,180,1) 100%);
}

.footerUl{
  display: flex;
  margin: auto;
  /* align-content: center;*/
  justify-content:space-around; 
  padding: 20px;
}
.footerLi{
  list-style: none;
  color: white;
  text-decoration: none;

}
.footerA{
  text-decoration: none;
  color: white;
  width: 40px;
  text-align: center;
  transition: 0.5s;
}
.footerA:hover{
  color: rgb(160, 147, 147);
}

/* TARJETAS VENTA */

#comprar-tickets {
  width: 80%;
  max-width: 1200px;
  padding-top: 50px;
  margin: 0 auto;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card-category {
  border: 1px solid rgb(51, 167, 235);
  padding: 4rem;
  /* width: 30%; */
  text-align: center;
}
.card-category:nth-child(2) {
  border-color: rgb(29, 165, 29);
}
.card-category:nth-child(3) {
  border-color: rgb(231, 154, 54);
}

.card-category p {
  font-size: 150%;
}

.card-category p:nth-child(4){
  font-size: 100%;
  color: rgb(179, 168, 168);
}
#form-venta{
  margin-top: 20px;
}
#form-venta label {
  margin: 0;
  padding: 0;
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.input-form,
.select-form  {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

select {
  padding: 1px 2px;
}

#total {
  background-color: lightskyblue;
  border: thick solid rgb(111, 185, 231);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  color: rgb(39 57 147);
}

#total p {
  margin: 0;
}

.btn-form {
  display: inline-block;
  width: 50%;
  padding: 5px;
  background-color: #3fb73f  ;
  color: white;
  border-color: #51b451;
}
.btn-form:hover {
  opacity: .8;
  color: white;
}

#form-venta [required]:valid {
  border: thin solid #4caf50;
}

#form-venta [required]:invalid {
  border: thin solid #f44336;
}

.contact-form-error {
  margin-top: -.5rem;
  font-size: 80%;
  background-color: #f44336;
  color: #fff;
  transition: all 800 ease;
}
.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}
.none{
  display: none;
}


@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100%{
    visibility: visible;
    opacity: 1;
  }
}